
.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    overflow: auto;
}  
.background::-webkit-scrollbar {
  visibility: hidden;
}
.container {
    position: absolute;
    top: 10%;
    left: 50%;
    margin-bottom: 300px;
    transform: translate(-50%);
    box-sizing: border-box;
    width: 400px;
    max-width: 90%;
}

.close {
    float: right;
    margin-bottom: 5px;
    cursor: pointer;
    outline: none;
}

form {
    clear: right;
    background-color: white;
    border-radius: 4px;
    padding-top: 5px;
}
fieldset {
    border: none;
}
fieldset.date-and-dateOff {
    margin-top: -15px;
}
fieldset.status-and-prior {
    margin-top: 6px;
}


fieldset:disabled label {
    color: #555;
}
textarea {
    resize: none;
}
fieldset:disabled input, fieldset:disabled textarea {
    color: #333;
}
textarea::-webkit-scrollbar {
    width: 8px;
}
textarea::-webkit-scrollbar-thumb {
    background-color: #AAA;
    border-radius: 2px;
}

mat-form-field, mat-checkbox {
    width: 40%;
}
fieldset.date-and-dateOff mat-checkbox {
    color: #222;
}
fieldset.name-and-desc>* {
   width: 100%;
}

fieldset.date-and-dateOff .date {
    width: 60%;
}
fieldset.date-and-dateOff>*, fieldset.status-and-prior>* {
   height: 40px;
}
fieldset .date, fieldset .prior {
   float: right;
}

.save, .delete {
    float: right;
} 


