
<button class='close' (click)='closeWin()'></button>
<form #taskForm='ngForm'>
  <fieldset [disabled]='mode==="read"' >
    <label for='name'>
      Nazwa zadania: 
      <input [(ngModel)]='task.name' id='name' name='name' 
             required>
    </label>
    <label for='status' >
      Status: 
      <select [(ngModel)]='task.status' id='status' 
        name='status'>
        <option *ngFor='let value of ["do zrobienia", "w toku", "gotowe"]'
          [selected]='task.status===value' [value]='value'>
          {{value}} 
        </option>
      </select>
    </label>
    <label for='desc'>
       Opis: 
      <textarea [(ngModel)]='task.desc' id="desc" name="desc" 
        cols="80" rows="10">
          {{task.desc}}
      </textarea>
    </label>
    <label for='date'>
      Termin: 
      <input [(ngModel)]='task.date' id='date' name='date' 
        type="datetime-local" min="2000-01-01T00:00" 
        max="2099-12-31T23:59">
    </label>
    <label for='prior'>
      Priorytet: 
      <select [(ngModel)]='task.prior' id='prior' name='prior'>
        <option *ngFor='let value of ["wysoki", "średni", "niski"]'
          [selected]='task.prior===value' [value]='value'>
          {{value}} 
        </option>
      </select>
    </label>
  </fieldset>
  <fieldset *ngIf='mode==="read"'>
    <input type='button' (click)='edit()'>
    <input type='button' (click)='delete()'>
  </fieldset>
  <fieldset *ngIf='mode==="write"'>
     <input type='button' (click)='cancel()'>
     <input type='button' (click)='save()'>
  </fieldset>
</form>