
<button class='close' (click)='closeWin()'>&times;</button>
<form #taskForm='ngForm'>
  <fieldset [disabled]='mode==="read"' >
    <label for='name'>
      Nazwa zadania: 
      <input [(ngModel)]='task.data.name' id='name' name='name' 
             required>
    </label>
    <label for='status' >
      Status: 
      <select [(ngModel)]='task.data.status' id='status' 
        name='status'>
        <option *ngFor='let value of ["do zrobienia", "w toku", "gotowe"]'
          [selected]='task.data.status===value' [value]='value'>
          {{value}} 
        </option>
      </select>
    </label>
    <label for='desc'>
       Opis: 
      <textarea [(ngModel)]='task.data.desc' id="desc" name="desc" 
        cols="80" rows="10">
          {{task.data.desc}}
      </textarea>
    </label>
    <label for='date'>
      Termin: 
      <input [(ngModel)]='task.data.date' id='date' name='date' 
        type="datetime-local" min="2000-01-01T00:00" 
        max="2099-12-31T23:59" *ngIf='!dateOff'>
      <span *ngIf='dateOff'> brak terminu </span>
    </label>
    <label for='dateOff'>
        Bez terminu 
        <input [(ngModel)]='dateOff' id='dateOff' name='dateOff' 
          type='checkbox'>
    </label>
    <label for='prior'>
      Priorytet: 
      <select [(ngModel)]='task.data.prior' id='prior' name='prior'>
        <option *ngFor='let value of ["wysoki", "średni", "niski"]'
          [selected]='task.data.prior===value' [value]='value'>
          {{value}} 
        </option>
      </select>
    </label>
  </fieldset>
  <fieldset *ngIf='mode==="read"'>
    <button type='button' (click)='edit()'>Edytuj</button>
    <button type='button' (click)='delete()'>Usuń</button>
  </fieldset>
  <fieldset *ngIf='mode==="write"'>
     <button type='button' (click)='cancel()'>Cofnij zmiany</button>
     <button type='button' (click)='save()'>Zapisz</button>
  </fieldset>
</form>