<table>
    <tr>
        <th>naglowek</th>
        <td>dane</td>
        <td>dane</td>
    </tr>
    <tr>
        <th>naglowek</th>
        <td>dane</td>
        <td>dane</td>
    </tr>
    <tr>
        <th>naglowek</th>
        <td>dane</td>
        <td>dane</td>
    </tr>
    <tr>
        <th>naglowek</th>
        <td>dane</td>
        <td>dane</td>
    </tr>
    <tr>
        <th>naglowek</th>
        <td>dane</td>
        <td>dane</td>
    </tr>
    <tr>
        <th>naglowek</th>
        <td>dane</td>
        <td>dane</td>
    </tr>
</table>
