
.container {
  position: relative;
  height: 100%;
}

table {
  display: block; 
  overflow-y: auto;
  padding-bottom: 50px;
  height: calc(100vh - 140px);
  margin: 0 5px;
  border-right: solid 3px rgba(0,0,0,0.35);
  background-image: linear-gradient(to bottom, white 0%, 
    rgb(220, 240, 255) 50%, white 100%);
  background-repeat: no-repeat;
  background-size: 100% 60vh;
  background-position: 0% -60vh;
}
table::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0,0,0,0.13);
}
table::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.25);
}

@media screen and (max-width: 600px){
  table {
    height: calc(100vh - 240px);
  }
}

tr {
  display: flex;
  margin: 0 5px;
  border-bottom: solid 1px #999;
}
tr:nth-child(n+2){
  cursor: pointer;
}
tr:nth-child(even){
  background-color: rgba(0,0,0,0.05);
}
tr:nth-child(n+2):hover {
  background-color: rgb(150, 200, 255);
}
.cdk-drag-preview {
  box-shadow: 0 0 4px black;
  background: rgb(150, 200, 255);
  cursor: pointer;
}
.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drag-animating {
  transition: transform 250ms ease-in, 
    box-shadow 250ms ease-in, background-color 250ms ease-in;
  box-shadow: none;
  background-color: #DDD;
}


th, td {
    padding: 6px;
    font-size: 14px;
}
td {
  word-break: break-word;
}
th:first-child, td:first-child {
  flex-basis: 50%;
  flex-grow: 2.5;
}
th:first-child {
  vertical-align: center;
  font-size: 16px;
  text-align: center;
  color: #555

}
th:nth-child(2), td:nth-child(2){
  flex-basis: 25%;
  flex-grow: 1.5;
  text-align: center;
}
th:nth-child(3), td:nth-child(3){
  flex-basis: 25%;
  flex-grow: 1;
  text-align: center;
}


.sortBtn {
  opacity: 0.4;
  transition: transform 0.8s;
  height:20px !important;
  line-height: 20px !important;
  padding: 0 !important;
}

.dateAsc, .dateDesc, .priorAsc, .priorDesc {
   opacity: 1;
   background-color: rgb(150, 200, 255);
}
.dateAsc {
  transform: rotateX(180deg);
}
.priorAsc {
  transform: rotateX(180deg);
}

.highPrior {
  color: tomato;
}
.lowPrior {
  color: #AAA;
}


.buttons {
    position: absolute;
    left: 25px;
    right: 25px;
    bottom: 4px;
}
.buttons button {
  background-color: white;
}
.buttons button:last-of-type {
    float: right;
}


app-task {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}