<button (click)='addTask()'>Dodaj zadanie</button>

<select #selectCols (change)='applyLayout(+selectCols.value)'>
  <option [value]='-1' [selected]='!customCols' >auto</option>
  <option [value]='val' [selected]='customCols&&cols===val' 
          *ngFor='let val of [1,2,3]'>{{val}}</option>
</select>


<nav>
  <button (click)='showGroup("oncoming")' 
    [class.active]='active.oncoming'>Do zrobienia</button>
  <button (click)='showGroup("pending")'
    [class.active]='active.pending'>W toku</button>
  <button (click)='showGroup("completed")'
    [class.active]='active.completed'>Gotowe</button>
</nav>
<div class='task-groups'>
  <app-task-group [style.display]='active.oncoming?"block":"none"'
     [group]='"oncoming"'></app-task-group>
  <app-task-group [style.display]='active.pending?"block":"none"'
     [group]='"pending"'></app-task-group>
  <app-task-group [style.display]='active.completed?"block":"none"'
     [group]='"completed"'></app-task-group>
</div>

<app-task *ngIf='dataToOpen' [data]='dataToOpen'
  (close)='this.dataToOpen=undefined'
  (deleteEditedRef)='deleteEditedRef()'></app-task>

