<button>Dodaj zadanie</button>
<button>Dodatkowe opcje</button>

<div class='cols'>
  <div class='col'>
    <nav *ngIf='cols===1'>
      <button>Do zrobienia</button>
      <button>W toku</button>
      <button>Gotowe</button>
    </nav>
    <span *ngIf='cols!==1'>Do zrobienia</span>
    <app-task-group></app-task-group>
  </div>
  <div *ngIf='cols!==1' class='col'>
    <nav *ngIf='cols===2'>
      <button>W toku</button>
      <button>Gotowe</button> 
      <!-- guziki zmieniaja styl przy zmianie this.pending
          this.oncoming i this.completed . kazde klikniecie w guzik ustawia
        tylko jeden na true, reszta false. przy ladowaniu layoutu
      ma rostrzygac, czy oncoming=== true reszta false, 
      czy tylko pending === true
      -->
    </nav>
    <span *ngIf='cols===3'>W toku</span>
    <app-task-group></app-task-group>
  </div>
  <div *ngIf='cols===3' class='col'>
    <span>Gotowe</span>
    <app-task-group></app-task-group>
  </div>
</div>