<button (click)='addTask()'>Dodaj zadanie</button>
<button>Dodatkowe opcje</button>

<nav>
  <button (click)='showGroup("oncoming")' 
    [class.active]='active.oncoming'>Do zrobienia</button>
  <button (click)='showGroup("pending")'
    [class.active]='active.pending'>W toku</button>
  <button (click)='showGroup("completed")'
    [class.active]='active.completed'>Gotowe</button>
</nav>
<div class='task-groups'>
  <app-task-group *ngIf='active.oncoming' 
      (open)='openTask($event)'
      [tasks]='this.oncoming' [group]='"oncoming"'></app-task-group>
  <app-task-group *ngIf='active.pending' 
    (open)='openTask($event)'
    [tasks]='this.pending' [group]='"pending"'></app-task-group>
  <app-task-group *ngIf='active.completed'
    (open)='openTask($event)'
    [tasks]='this.completed' [group]='"completed"'></app-task-group>
</div>

<app-task *ngIf='data' [data]='data'
  (close)='this.data=undefined'></app-task>

